div {
  font-family: "Lucida Console", Monaco, monospace
}

body {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;

  padding: 0;
  height: 100%;
  background-color: black !important;
}

.screen-modal {
  position: fixed;
  top: 10%;
  transform: translate(-50%, 0);
  left: 50%;
  width: 80%;

  background-color: black;
  border: 2px solid gold;
  border-radius: 50px;
  padding: 15px 30px 45px 30px;
  z-index: 3;

  .title {
    display: block;
    text-align: center;
    color: orange;
  }

  .subtitle {
    color: gold;
  }

  .content {
    width: 100%;
  }

  .bottom {

  }
}

.simple-popover {
  .popover {
    background-color: rgba(0, 0, 0, 0.9) !important;
    border: 2px solid grey !important;
    margin: 0 !important;

    .arrow {
      display: none !important;
    }

    .popover-body {
      padding: 0.5rem;
    }

    p {
      margin-bottom: 0;
    }

    .name {
      color: white;
    }

    .rank {
      color: white;
    }

    .requirements {
      color: red;
    }

    .description {
      color: gold;
    }
  }
}

.keyboard-key {
  color: gold;

  &:before {
    content: '[';
    color: white;
  }

  &:after {
    content: ']';
    color: white;
  }
}
